:root {
  --primary-color: #0A0A0A;
  --secondary-color: #F2F2F2;
  --detail-color: #C7A34B;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  75% {
    top: -12rem;
  }
  100% {
    top: 0;
  }
}

/* Estilos actuales */

.home_container {
  height: auto;
  width: 100%;
  background-color: var(--primary-color);
}

.home_main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../../public/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  z-index: 1;
}

.home_main_title {
  position: relative;
  z-index: 2;
  font-size: 200px;
  color: var(--secondary-color);
  text-align: ce  nter;
  font-family: 'Bebas Neue', sans-serif;
}

.home_menu {
  height: auto;
  width: 100%;
  background-image: url("../../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.home_menu_title {
  color: var(--secondary-color);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  height: auto;
  width: 100%;
  text-align: center;
}

.menu_title_span {
  color: var(--detail-color);
  font-size: 150px;
}

.home_menu_items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
