:root {
  --primary-color: #0A0A0A;
  --secondary-color: #F2F2F2;
  --detail-color: #C7A34B;
}

.item_container {
    display: flex;
    flex-direction: row;
    align-items: center;   
    height: auto;
    width: 40%;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--detail-color);
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    margin: 10px 25px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.01); /* Ajustalo si querés más opacidad */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.item_container > * {
    transition-duration: 800ms;
}

.item_container:hover {
    border-color: var(--detail-color);
}

.item_container:hover > *{
    scale: 1.03;
}

.item_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    justify-content: center;
    margin-right: 10px;

}

.item_header_title{
    font-size: 40px;
    color: var(--secondary-color);
}

.item_header_img {
    height: 50px;
    width: 50px;
}

.item_img_container{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_img{
    height: 100px;
    width: 100px;
}

.new_product{
    position: absolute;
    top: 80%;
    left: 95%;
    height: 50px;
    width: 50px;
    border-radius: 80%;
    background-color: var(--primary-color);
}