* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/gif.gif'); /* o un link directo */
  opacity: 0.007; /* podés ajustar esto para más o menos ruido */
  pointer-events: none; /* para que no bloquee clicks */
  z-index: 9999; /* encima de todo */
}
